/* No incluir la etiqueta o tag <style>  */
body{
    background-color: brown;
}
h1{
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    font-family: calibri, sans-serif;
}
p{
    color:cornflowerblue;
    font-size: 30px;
    text-align: justify;
}
.conBorde
{
    border-color: blue;
    border-width: 10px;
    border-style: solid;
    padding-top : 20px;
    padding-left: 10px;

    margin-top: 150px;
}